**ĐIỀN VÀO ...** NẾU BẠN THẤY CÂU **"WRITE YOUR CODE HERE"**

#Truy xuất văn bản từ dữ liệu wikipedia

In [9]:
import sklearn, pandas
import numpy as np

#Load một số dữ liệu văn bản - từ wikipedia, các trang về con người

Hãy load tập dữ liệu. Tập dữ liệu tên là **"people_wiki.csv"**.

In [10]:
# WRITE YOUR CODE HERE
people = pandas.read_csv("people_wiki.csv")

Dữ liệu chứa: các liên kết tới bài viết trên Wikipedia, tên người, văn bản.

In [12]:
people.head()

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

In [13]:
len(people)

59071

#Khám phá tập dữ liệu và kiểm tra văn bản nó chứa

##Khám phá mục nhập (entry) cho Tổng thống Obama

In [14]:
# Trích hàng có tên cột là 'Barack Obama' 
# WRITE YOUR CODE HERE
obama = people[people["name"]=='Barack Obama']

In [15]:
obama

,URI,name,text
35817,<http://dbpedia.org/resource/Barack_Obama>,Barack Obama,barack hussein obama ii brk husen bm born augu...

In [12]:
obama['text'].values[0]

'barack hussein obama ii brk husen bm born august 4 1961 is the 44th and current president of the united states and the first african american to hold the office born in honolulu hawaii obama is a graduate of columbia university and harvard law school where he served as president of the harvard law review he was a community organizer in chicago before earning his law degree he worked as a civil rights attorney and taught constitutional law at the university of chicago law school from 1992 to 2004 he served three terms representing the 13th district in the illinois senate from 1997 to 2004 running unsuccessfully for the united states house of representatives in 2000in 2004 obama received national attention during his campaign to represent illinois in the united states senate with his victory in the march democratic party primary his keynote address at the democratic national convention in july and his election to the senate in november he began his presidential campaign in 2007 and after a close primary campaign against hillary rodham clinton in 2008 he won sufficient delegates in the democratic party primaries to receive the presidential nomination he then defeated republican nominee john mccain in the general election and was inaugurated as president on january 20 2009 nine months after his election obama was named the 2009 nobel peace prize laureateduring his first two years in office obama signed into law economic stimulus legislation in response to the great recession in the form of the american recovery and reinvestment act of 2009 and the tax relief unemployment insurance reauthorization and job creation act of 2010 other major domestic initiatives in his first term included the patient protection and affordable care act often referred to as obamacare the doddfrank wall street reform and consumer protection act and the dont ask dont tell repeal act of 2010 in foreign policy obama ended us military involvement in the iraq war increased us troop levels in afghanistan signed the new start arms control treaty with russia ordered us military involvement in libya and ordered the military operation that resulted in the death of osama bin laden in january 2011 the republicans regained control of the house of representatives as the democratic party lost a total of 63 seats and after a lengthy debate over federal spending and whether or not to raise the nations debt limit obama signed the budget control act of 2011 and the american taxpayer relief act of 2012obama was reelected president in november 2012 defeating republican nominee mitt romney and was sworn in for a second term on january 20 2013 during his second term obama has promoted domestic policies related to gun control in response to the sandy hook elementary school shooting and has called for full equality for lgbt americans while his administration has filed briefs which urged the supreme court to strike down the defense of marriage act of 1996 and californias proposition 8 as unconstitutional in foreign policy obama ordered us military involvement in iraq in response to gains made by the islamic state in iraq after the 2011 withdrawal from iraq continued the process of ending us combat operations in afghanistan and has sought to normalize us relations with cuba'

##Khám phá mục nhập cho nam diễn viên George Clooney

In [13]:
# Trích hàng có tên cột là 'George Clooney'
# WRITE YOUR CODE HERE
clooney = people[people["name"]=='George Clooney']
clooney['text'].values[0]

'george timothy clooney born may 6 1961 is an american actor writer producer director and activist he has received three golden globe awards for his work as an actor and two academy awards one for acting and the other for producingclooney made his acting debut on television in 1978 and later gained wide recognition in his role as dr doug ross on the longrunning medical drama er from 1994 to 1999 for which he received two emmy award nominations while working on er he began attracting a variety of leading roles in films including the superhero film batman robin 1997 and the crime comedy out of sight 1998 in which he first worked with a director who would become a longtime collaborator steven soderbergh in 1999 clooney took the lead role in three kings a wellreceived war satire set during the gulf warin 2001 clooneys fame widened with the release of his biggest commercial success the heist comedy oceans eleven the first of the film trilogy a remake of the 1960 film with frank sinatra as danny ocean he made his directorial debut a year later with the biographical thriller confessions of a dangerous mind and has since directed the drama good night and good luck 2005 the sports comedy leatherheads 2008 the political drama the ides of march 2011 and the comedydrama war film the monuments men 2014he won an academy award for best supporting actor for the middle east thriller syriana 2005 and subsequently earned best actor nominations for the legal thriller michael clayton 2007 the comedydrama up in the air 2009 and the drama the descendants 2011 in 2013 he received the academy award for best picture for producing the political thriller argo alongside ben affleck and grant heslov he is the only person ever to be nominated for academy awards in six categoriesclooney is sometimes described as one of the most handsome men in the world in 2005 tv guide ranked clooney no 1 on its 50 sexiest stars of all time list in 2009 he was included in times annual time 100 as one of the most influential people in the world clooney is also noted for his political activism and has served as one of the united nations messengers of peace since january 31 2008 his humanitarian work includes his advocacy of finding a resolution for the darfur conflict raising funds for the 2010 haiti earthquake 2004 tsunami and 911 victims and creating documentaries such as sand and sorrow to raise awareness about international crises he is also a member of the council on foreign relations'

#Đếm từ cho bài viết về Obama

In [16]:
#import word_tokenize từ nltk.tokenize
def word_count_function(string):
  """This function will return a dictionary 
  where its key is the word from the string (input) and 
  its value is the number of the appearance of this word in the string"""
  count = {}
  for word in string.strip().split():
    count[word] = count.get(word, 0) + 1

  # WRITE YOUR CODE HERE
  return count
obama_word_count = obama['text'].map(word_count_function)
print(obama_word_count.values[0])

{'barack': 1, 'hussein': 1, 'obama': 9, 'ii': 1, 'brk': 1, 'husen': 1, 'bm': 1, 'born': 2, 'august': 1, '4': 1, '1961': 1, 'is': 2, 'the': 40, '44th': 1, 'and': 21, 'current': 1, 'president': 4, 'of': 18, 'united': 3, 'states': 3, 'first': 3, 'african': 1, 'american': 3, 'to': 14, 'hold': 1, 'office': 2, 'in': 30, 'honolulu': 1, 'hawaii': 1, 'a': 7, 'graduate': 1, 'columbia': 1, 'university': 2, 'harvard': 2, 'law': 6, 'school': 3, 'where': 1, 'he': 7, 'served': 2, 'as': 6, 'review': 1, 'was': 5, 'community': 1, 'organizer': 1, 'chicago': 2, 'before': 1, 'earning': 1, 'his': 11, 'degree': 1, 'worked': 1, 'civil': 1, 'rights': 1, 'attorney': 1, 'taught': 1, 'constitutional': 1, 'at': 2, 'from': 3, '1992': 1, '2004': 3, 'three': 1, 'terms': 1, 'representing': 1, '13th': 1, 'district': 1, 'illinois': 2, 'senate': 3, '1997': 1, 'running': 1, 'unsuccessfully': 1, 'for': 4, 'house': 2, 'representatives': 2, '2000in': 1, 'received': 1, 'national': 2, 'attention': 1, 'during': 2, 'campaign': 3, 'represent': 1, 'with': 3, 'victory': 1, 'march': 1, 'democratic': 4, 'party': 3, 'primary': 2, 'keynote': 1, 'address': 1, 'convention': 1, 'july': 1, 'election': 3, 'november': 2, 'began': 1, 'presidential': 2, '2007': 1, 'after': 4, 'close': 1, 'against': 1, 'hillary': 1, 'rodham': 1, 'clinton': 1, '2008': 1, 'won': 1, 'sufficient': 1, 'delegates': 1, 'primaries': 1, 'receive': 1, 'nomination': 1, 'then': 1, 'defeated': 1, 'republican': 2, 'nominee': 2, 'john': 1, 'mccain': 1, 'general': 1, 'inaugurated': 1, 'on': 2, 'january': 3, '20': 2, '2009': 3, 'nine': 1, 'months': 1, 'named': 1, 'nobel': 1, 'peace': 1, 'prize': 1, 'laureateduring': 1, 'two': 1, 'years': 1, 'signed': 3, 'into': 1, 'economic': 1, 'stimulus': 1, 'legislation': 1, 'response': 3, 'great': 1, 'recession': 1, 'form': 1, 'recovery': 1, 'reinvestment': 1, 'act': 8, 'tax': 1, 'relief': 2, 'unemployment': 1, 'insurance': 1, 'reauthorization': 1, 'job': 1, 'creation': 1, '2010': 2, 'other': 1, 'major': 1, 'domestic': 2, 'initiatives': 1, 'term': 3, 'included': 1, 'patient': 1, 'protection': 2, 'affordable': 1, 'care': 1, 'often': 1, 'referred': 1, 'obamacare': 1, 'doddfrank': 1, 'wall': 1, 'street': 1, 'reform': 1, 'consumer': 1, 'dont': 2, 'ask': 1, 'tell': 1, 'repeal': 1, 'foreign': 2, 'policy': 2, 'ended': 1, 'us': 6, 'military': 4, 'involvement': 3, 'iraq': 4, 'war': 1, 'increased': 1, 'troop': 1, 'levels': 1, 'afghanistan': 2, 'new': 1, 'start': 1, 'arms': 1, 'control': 4, 'treaty': 1, 'russia': 1, 'ordered': 3, 'libya': 1, 'operation': 1, 'that': 1, 'resulted': 1, 'death': 1, 'osama': 1, 'bin': 1, 'laden': 1, '2011': 3, 'republicans': 1, 'regained': 1, 'lost': 1, 'total': 1, '63': 1, 'seats': 1, 'lengthy': 1, 'debate': 1, 'over': 1, 'federal': 1, 'spending': 1, 'whether': 1, 'or': 1, 'not': 1, 'raise': 1, 'nations': 1, 'debt': 1, 'limit': 1, 'budget': 1, 'taxpayer': 1, '2012obama': 1, 'reelected': 1, '2012': 1, 'defeating': 1, 'mitt': 1, 'romney': 1, 'sworn': 1, 'second': 2, '2013': 1, 'has': 4, 'promoted': 1, 'policies': 1, 'related': 1, 'gun': 1, 'sandy': 1, 'hook': 1, 'elementary': 1, 'shooting': 1, 'called': 1, 'full': 1, 'equality': 1, 'lgbt': 1, 'americans': 1, 'while': 1, 'administration': 1, 'filed': 1, 'briefs': 1, 'which': 1, 'urged': 1, 'supreme': 1, 'court': 1, 'strike': 1, 'down': 1, 'defense': 1, 'marriage': 1, '1996': 1, 'californias': 1, 'proposition': 1, '8': 1, 'unconstitutional': 1, 'gains': 1, 'made': 1, 'by': 1, 'islamic': 1, 'state': 1, 'withdrawal': 1, 'continued': 1, 'process': 1, 'ending': 1, 'combat': 1, 'operations': 1, 'sought': 1, 'normalize': 1, 'relations': 1, 'cuba': 1}

In [ ]:
print(obama_word_count.values[0])

{'war': 1, 'administration': 1, 'levels': 1, 'against': 1, '2008': 1, 'defense': 1, 'bm': 1, 'treaty': 1, 'sufficient': 1, 'strike': 1, 'african': 1, 'presidential': 2, 'unsuccessfully': 1, 'two': 1, 'act': 8, 'representatives': 2, 'house': 2, 'doddfrank': 1, 'street': 1, 'job': 1, '63': 1, 'made': 1, 'chicago': 2, 'policies': 1, 'process': 1, 'withdrawal': 1, 'debate': 1, 'hook': 1, 'nine': 1, 'gains': 1, '2000in': 1, 'sought': 1, 'signed': 3, 'hawaii': 1, 'review': 1, 'response': 3, 'three': 1, 'filed': 1, 'campaign': 3, 'legislation': 1, 'was': 5, 'after': 4, 'lengthy': 1, '2009': 3, 'marriage': 1, 'began': 1, '2013': 1, 'whether': 1, 'rights': 1, 'running': 1, 'iraq': 4, 'unconstitutional': 1, 'stimulus': 1, 'cuba': 1, 'party': 3, '2007': 1, 'district': 1, 'for': 4, 'where': 1, 'normalize': 1, 'husen': 1, 'urged': 1, 'defeating': 1, 'won': 1, '8': 1, 'received': 1, 'at': 2, 'election': 3, 'hold': 1, 'initiatives': 1, 'honolulu': 1, 'control': 4, 'terms': 1, '2004': 3, 'to': 14, 'clinton': 1, 'republicans': 1, 'seats': 1, 'protection': 2, 'that': 1, 'taxpayer': 1, 'harvard': 2, 'often': 1, 'of': 18, 'nominee': 2, 'or': 1, 'operations': 1, 'rodham': 1, 'while': 1, 'prize': 1, 'in': 30, 'reinvestment': 1, 'attention': 1, 'from': 3, 'obama': 9, 'repeal': 1, 'gun': 1, '1997': 1, '2012': 1, 'law': 6, 'keynote': 1, 'shooting': 1, 'sandy': 1, 'elementary': 1, '2010': 2, 'great': 1, 'form': 1, 'promoted': 1, 'years': 1, 'arms': 1, 'primary': 2, 'november': 2, 'general': 1, 'term': 3, 'relations': 1, 'care': 1, 'with': 3, 'recovery': 1, 'worked': 1, 'victory': 1, 'office': 2, 'russia': 1, 'included': 1, 'libya': 1, 'equality': 1, 'involvement': 3, 'operation': 1, 'nations': 1, 'barack': 1, 'is': 2, 'community': 1, 'affordable': 1, 'regained': 1, 'nomination': 1, 'defeated': 1, 'economic': 1, 'current': 1, 'named': 1, '20': 2, 'months': 1, 'john': 1, 'columbia': 1, 'graduate': 1, 'ii': 1, 'start': 1, 'other': 1, 'president': 4, 'state': 1, 'address': 1, 'into': 1, 'represent': 1, 'his': 11, 'republican': 2, 'resulted': 1, 'states': 3, 'united': 3, 'reelected': 1, 'referred': 1, 'ending': 1, 'over': 1, 'total': 1, 'delegates': 1, 'laden': 1, 'major': 1, 'attorney': 1, 'new': 1, 'bin': 1, 'called': 1, 'sworn': 1, 'american': 3, 'mitt': 1, 'democratic': 4, 'peace': 1, 'court': 1, 'tax': 1, 'primaries': 1, '44th': 1, 'unemployment': 1, 'nobel': 1, 'senate': 3, 'continued': 1, 'briefs': 1, 'consumer': 1, 'related': 1, 'national': 2, 'march': 1, '1996': 1, 'civil': 1, '13th': 1, 'inaugurated': 1, 'hillary': 1, 'taught': 1, 'americans': 1, 'down': 1, 'has': 4, 'military': 4, 'receive': 1, 'born': 2, 'and': 21, '1992': 1, 'budget': 1, 'recession': 1, 'first': 3, 'then': 1, 'californias': 1, 'increased': 1, 'policy': 2, 'reauthorization': 1, 'illinois': 2, 'insurance': 1, 'federal': 1, 'he': 7, 'combat': 1, 'debt': 1, 'january': 3, 'degree': 1, 'full': 1, 'islamic': 1, 'convention': 1, '4': 1, 'by': 1, 'organizer': 1, 'dont': 2, 'supreme': 1, 'reform': 1, 'domestic': 2, 'tell': 1, 'not': 1, 'university': 2, 'representing': 1, 'earning': 1, 'brk': 1, 'patient': 1, 'lost': 1, 'a': 7, 'hussein': 1, 'raise': 1, 'afghanistan': 2, 'obamacare': 1, 'august': 1, 'close': 1, 'death': 1, 'proposition': 1, 'school': 3, 'before': 1, 'laureateduring': 1, 'on': 2, 'the': 40, 'ordered': 3, '1961': 1, 'as': 6, 'july': 1, '2011': 3, 'spending': 1, 'wall': 1, 'romney': 1, 'ask': 1, 'creation': 1, 'which': 1, 'relief': 2, 'second': 2, 'limit': 1, 'osama': 1, 'constitutional': 1, 'troop': 1, 'during': 2, '2012obama': 1, 'lgbt': 1, 'mccain': 1, 'ended': 1, 'us': 6, 'served': 2, 'foreign': 2}

##Sắp xếp đếm từ cho bài viết về Obama

###Chuyển dictonary các từ thành một bảng

In [19]:
obama_word_count_table = pandas.DataFrame.from_dict(obama_word_count.values[0], orient="index", columns=["count"])

###Sắp xếp đếm từ để hiển thị top các từ phổ biến nhất

In [20]:
obama_word_count_table.head()

         count
barack       1
hussein      1
obama        9
ii           1
brk          1

In [21]:
obama_word_count_table.sort_values('count',ascending=False)

                count
the                40
in                 30
and                21
of                 18
to                 14
...               ...
laureateduring      1
two                 1
years               1
into                1
cuba                1

[273 rows x 1 columns]

Các từ phổ biến nhất gồm các từ không có tính thông tin như "the", "in", "and",...

#Tính TF-IDF cho kho ngữ liệu 

Để đưa nhiều trọng số hơn cho các từ có tính thông tin, chúng ta tính bằng điểm TF-IDF.

In [17]:
people['word_count'] = people['text'].map(word_count_function)
people.head()

,URI,name,text,word_count
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...,"{'digby': 1, 'morrell': 5, 'born': 1, '10': 1,..."
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...,"{'alfred': 1, 'j': 1, 'lewy': 3, 'aka': 1, 'sa..."
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...,"{'harpdog': 2, 'brown': 2, 'is': 7, 'a': 7, 's..."
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...,"{'franz': 1, 'rottensteiner': 3, 'born': 1, 'i..."
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...,"{'henry': 1, 'krvits': 1, 'born': 1, '30': 1, ..."

In [18]:
#tfidf = graphlab.text_analytics.tf_idf(people['word_count'])
#tfidf
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words="english")
people_tfidf = tfidf_vectorizer.fit_transform(people['text'])

In [20]:
print(people_tfidf)

  (0, 322918)	0.05308254643727061
  (0, 130913)	0.027795544835545537
  (0, 373109)	0.07060247410892721
  (0, 174771)	0.03742390918966249
  (0, 383207)	0.0542700124339163
  (0, 482852)	0.051770410651786454
  (0, 147428)	0.028617227269444004
  (0, 174196)	0.12255687612682609
  (0, 129366)	0.09559038803738366
  (0, 128892)	0.0541700843509251
  (0, 27213)	0.03480557660145588
  (0, 394842)	0.06014654630415581
  (0, 164205)	0.04113331980526983
  (0, 394807)	0.05074407036053547
  (0, 25312)	0.029325352107211045
  (0, 163788)	0.04095821011917798
  (0, 184443)	0.07607091014079385
  (0, 470165)	0.10311249965891885
  (0, 26651)	0.03206215198258099
  (0, 23789)	0.027828860445736917
  (0, 418176)	0.05223469943131137
  (0, 233153)	0.0708309480873859
  (0, 238152)	0.052020451818608295
  (0, 97831)	0.06049721051635956
  (0, 447523)	0.07194870748679201
  :	:
  (59070, 221273)	0.03822986047891974
  (59070, 407537)	0.06934345407998682
  (59070, 365685)	0.051790318896409525
  (59070, 224828)	0.1024167685944011
  (59070, 293218)	0.048612720037428184
  (59070, 391933)	0.05021948122330615
  (59070, 482857)	0.04734833253735749
  (59070, 416105)	0.10674654428424149
  (59070, 191527)	0.03789100288305972
  (59070, 481988)	0.04449319995755075
  (59070, 155328)	0.06842469237070083
  (59070, 418361)	0.03727964727082714
  (59070, 302271)	0.04142317693408345
  (59070, 396740)	0.05559835116451443
  (59070, 357210)	0.03956345124451919
  (59070, 263746)	0.0667198586427797
  (59070, 107782)	0.03559186557890622
  (59070, 414744)	0.034775210228923825
  (59070, 466577)	0.06530918202691748
  (59070, 509144)	0.05937894750366788
  (59070, 434804)	0.05263982871204118
  (59070, 509445)	0.02135864816493231
  (59070, 130913)	0.029613681880755503
  (59070, 22237)	0.02876604518305057
  (59070, 528963)	0.12495220684053801

##Kiểm tra TF-IDF cho các bài viết về Obama

In [24]:
#obama = people[people['name'] == 'Barack Obama']
tf_idf_values = tfidf_vectorizer.idf_
tf_idf_vocab = tfidf_vectorizer.vocabulary_
obama_words_tfidf_values = {k: count * tf_idf_values[tf_idf_vocab[k]] for k, count in obama_word_count.values[0].items() if k in tf_idf_vocab}

In [25]:
#obama[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)
obama_word_tfidf_table = pandas.DataFrame.from_dict(obama_words_tfidf_values, orient="index", columns=["tfidf"])
obama_word_tfidf_table.sort_values('tfidf', ascending=False).head()

             tfidf
obama    52.277114
act      35.674051
iraq     21.741728
law      20.721856
control  18.884330

Các từ có TF-IDF cao nhất có nhiều tính thông tin hơn.

#Tính thủ công khoảng cách giữa một số bài viết về con người

Hãy tính khoảng cách giữa một số bài viết về những người nổi tiếng.

In [26]:
# Trích các hàng có tên cột là 'Bill Clinton' và 'David Beckham'
# WRITE YOUR CODE HERE

clinton = people[people["name"]=='Bill Clinton']
beckham = people[people["name"]=='David Beckham']

In [27]:
# xây dựng một vectơ TF-IDF cho clinton and beckham
# WRITE YOUR CODE HERE

obama_tfidf = tfidf_vectorizer.transform(obama['text'])[0]
clinton_tfidf = tfidf_vectorizer.transform(clinton['text'])[0]
beckham_tfidf = tfidf_vectorizer.transform(beckham['text'])[0]

##Obama có tương tự với Clinton hơn Beckham không?

Chúng ta sẽ sử dụng khoảng cách cosin tính theo 

(1-cosine_similarity) 

và tìm ra bài viết về Tổng thống Obama tương tự với cựu Tổng thống Clinton hơn cầu thủ bóng đá David Beckham.

In [28]:
from sklearn.metrics.pairwise import cosine_distances
cosine_distances(obama_tfidf, clinton_tfidf)
#graphlab.distances.cosine(obama['tfidf'][0],clinton['tfidf'][0])

array([[0.81103282]])

In [29]:
cosine_distances(obama_tfidf, beckham_tfidf)

array([[0.97443419]])

#Xây dựng mô hình nearest neighbor cho truy xuất dữ liệu

Giờ chúng ta hãy tạo một mô hình nearest-neighbor và áp dụng nó để truy xuất dữ liệu.

In [5]:
#knn_model = graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name')
from sklearn.neighbors import NearestNeighbors
knn_model = NearestNeighbors().fit(people_tfidf)
print(len(people_tfidf))

NameError: name 'people_tfidf' is not defined

In [4]:
print(people_tfidf)

NameError: name 'people_tfidf' is not defined

#Áp dụng mô hình nearest-neighbor cho truy xuất

##Ai tương tự nhất với Obama?

In [31]:
n_dist, n_ids = knn_model.kneighbors(obama_tfidf, return_distance=True)
n_ids, n_dist = n_ids[0], n_dist[0]
#print(n_dist, n_ids)
n_names = people['name'].iloc[n_ids]
neighbors = pandas.DataFrame({"name":n_names, "distance": n_dist, "index": n_ids}).sort_values("distance", ascending=True)
neighbors

                          name  distance  index
35817             Barack Obama  0.000000  35817
24478                Joe Biden  1.165145  24478
38376           Samantha Power  1.207369  38376
57108   Hillary Rodham Clinton  1.219640  57108
38714  Eric Stern (politician)  1.222509  38714

Chúng ta có thể thấy là bài viết về Tổng thống Obama tương tự nhất vớ bài viết về phó Tổng thống Biden và bài viết về các chính trị gia khác.

In [35]:
# Trích các hàng có tên cột là 'Taylor Swift' và tạo một vectơ TF-IDF cho swift
# WRITE YOUR CODE HERE

swift = people[people["name"]=='Taylor Swift']
switf_tfidf = tfidf_vectorizer.transform(swift['text'])[0]

In [ ]:
n_dist, n_ids = knn_model.kneighbors(switf_tfidf, return_distance=True)
n_ids, n_dist = n_ids[0], n_dist[0]
#print(n_dist, n_ids)
n_names = people['name'].iloc[n_ids]
neighbors = pandas.DataFrame({"name":n_names, "distance": n_dist, "index": n_ids}).sort_values("distance", ascending=True)
neighbors

       distance  index              name
54264  0.000000  54264      Taylor Swift
317    1.183004    317  Carrie Underwood
9379   1.187754   9379          Al Swift
25403  1.193938  25403        Ed Sheeran
19943  1.197285  19943        Tim McGraw

In [36]:
# Trích các hàng có tên cột là 'Angelina Jolie' và tạo một vectơ TF-IDF cho jolie
# WRITE YOUR CODE HERE

jolie = people[people["name"]=='Angelina Jolie']
jolie_tfidf = tfidf_vectorizer.transform(jolie['text'])[0]

In [37]:
n_dist, n_ids = knn_model.kneighbors(jolie_tfidf, return_distance=True)
n_ids, n_dist = n_ids[0], n_dist[0]
#print(n_dist, n_ids)
n_names = people['name'].iloc[n_ids]
neighbors = pandas.DataFrame({"name":n_names, "distance": n_dist, "index": n_ids}).sort_values("distance", ascending=True)
neighbors

                 name      distance  index
39521  Angelina Jolie  2.580957e-08  39521
24426       Brad Pitt  1.173973e+00  24426
16625     Keith Jolie  1.241878e+00  16625
21644    Jodie Foster  1.253190e+00  21644
34756    Maggie Smith  1.254573e+00  34756

In [38]:
arnold = people[people['name'] == 'Arnold Schwarzenegger']
arnold_tfidf = tfidf_vectorizer.transform(arnold['text'])[0]

In [39]:
n_dist, n_ids = knn_model.kneighbors(arnold_tfidf, return_distance=True)
n_ids, n_dist = n_ids[0], n_dist[0]
#print(n_dist, n_ids)
n_names = people['name'].iloc[n_ids]
neighbors = pandas.DataFrame({"name":n_names, "distance": n_dist, "index": n_ids}).sort_values("distance", ascending=True)
neighbors

                           name  distance  index
16018     Arnold Schwarzenegger  0.000000  16018
58965             Bonnie Garcia  1.259683  58965
35293  Paul Grant (bodybuilder)  1.263233  35293
47709                Gray Davis  1.283846  47709
8050               James Tramel  1.284463   8050